<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

    <!-- Font Awesome Icons and Animation-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/font-awesome-animation.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

    <title>NYCAASC | About</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="narbar-brand " href="index.html">
        <img src="assets/img/logos/logoOnly.png" height="50px" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nycaasc" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-nycaasc">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hsl.html">Youth Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resources.html">Resources</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Archive
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="archives/2019 site/index.html">2019</a>
              <a class="dropdown-item" href="archives/2018 site/index.html">2018</a>                 <!--<a class="dropdown-item" href="#">2017</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <header id="aboutLOGO"
      <div class="container text-center">
        <img src="assets/img/logos/logoName.png" style="width:90%;">
      </div>
    </header>

    <section id="abtNYCAASC">
      <div class="container mb-4">
        <div class="row">
            <div class="col-12 my-4 text-danger">
                <h1>About NYCAASC</h1>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3>What is NYCAASC?</h3>
                <p>
                  NYCAASC (pronounced NIGH-sack) is an organization dedicated to bringing students from all throughout New York City together to educate and encourage them to think critically about Asian/Pacific Islander American issues such as gentrification, diversity in media, and more. We hope to empower APIA students to enact change within their respective communities in lasting and meaningful ways.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3>Our Mission</h3>
                <p>
                    We started our annual conference as a safe space for students of all backgrounds and identities to learn about and discuss APIA issues. Through a jam-packed program of engaging speakers, interactive workshops, and moving performances, we hope that students leave our conference with a clearer understanding of their own identities, a greater sense of community, and a drive to build a better and more inclusive Asian America.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3>NYCAASC Today</h3>
                <p>
                    From our inception to today, our goal has always been to inspire and empower youth passionate about APIA issues to create meaningful impacts in their own communities. Over 400 students of all backgrounds from colleges, universities, high schools, and organizations all over the East Coast attended NYCAASC last year alone.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3>The Conference</h3>
                <p>
                    Every year, we host a variety of interactive, educational workshops and panels concerning APIA issues in addition to performances highlighting various up-and-coming Asian American artists. In the past, our conference has featured some really rad performers including MCJin, Awkwafina, Bea Go, Joseph Vincent, and Hari Kondabolu.
                </p>
            </div>
        </div>
      </div>
    </section>

    <section id="eboard">
      <div class="container">
        <div class="row">

          <div class="col-12 mb-4">
            <h1 class="text-danger">2021 Executive Board</h1>
            <h4 class="text-muted">Meet the team leaders that are working hard to build NYCAASC 2021!</h4>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
           <img src="assets/img/e-board/naomi.jpg">
           <h3>Naomi Chou</h3>
           <h4>Co-Director</h4>
           <h5>New York University</h5>
           <p> "I am co-president this year after being on the logistics & workshops committees for the past 3 years. I major in social & cultural analysis at NYU and am currently in the SF Bay Area." </p>
         </div>

         <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
          <img src="assets/img/e-board/squPlaceholder.jpg">
          <h3>Marva Shi</h3>
          <h4>Co-Director</h4>
          <h5>New York University</h5>
          <p>
            "I'm a junior (currently on gap year!) at New York University who cares deeply about community and making the world better for others. While I'm still figuring out what to do with my future, I do know that I love creating content and having good conversations with new friends. My past experiences with NYCAASC have been nothing short of spectacular, and I'm excited to bring another awesome virtual conference to you all! "
          </p>
         </div>

         <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
          <img src="assets/img/e-board/angela.jpg">
          <h3>Angela Yuan</h3>
          <h4>PR and Events Co-Chair</h4>
          <h5>New York University</h5>
          <p>"Hi! My name's Angela and I'm from Nanjing, China but living in New York. I'm in my second year studying Economics with minors in Public Policy and Business Studies at NYU. Joining NYCAASC has been an amazing experience for me to look back on my identity and experiences and engage in conversations to learn about current Asian American issues, and I've found a sense of belonging in these lovely people that I was lacking since being away from home!"
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
         <img src="assets/img/e-board/taryn.jpg">
         <h3>Taryn Chung</h3>
         <h4>PR and Events Co-Chair</h4>
         <h5>Brearley School</h5>
         <p>"Hi everyone! I am a junior at the Brearley School and this is my second year working at NYCAASC. I am a third generation Asian American; my family immigrated from Taiwan, Hong Kong, and Macau. I love food, film photography, cooking, dancing with no rhythm, and eating!"
         </p>
       </div>

       <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <img src="assets/img/e-board/anne.jpg">
        <h3>Anne Rhee</h3>
        <h4>Logistics Chair</h4>
        <h5>Stuyvesant</h5>
        <p>"I'm a current senior at Stuyvesant High School, and a third-year member of NYCAASC. In my free time, I'm a varsity policy debater, a poet, and a coffee lover. I can't wait to see what new conversations about Asian-American identity that this year's NYCAASC sparks!"
        </p>
      </div>

     <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
      <img src="assets/img/e-board/andrea.jpg">
      <h3>Andrea Huang</h3>
      <h4>Marketing Co-Chair</h4>
      <h5>Stuyvesant</h5>
      <p>"I'm a senior at Stuyvesant High School with a love for art and the amazing community at NYCAASC. This will be my third year as part of the NYCAASC Marketing team and I'm so excited to see what we have in store for this year's conference."
      </p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
     <img src="assets/img/e-board/leann.jpg">
     <h3>LeAnn Mai</h3>
     <h4>Marketing Co-Chair</h4>
     <h5>New York University</h5>
     <p>"Hi everyone! I'm a freshman at NYU, and I'm hoping to study Asian/Pacific/American Studies and English/Creative Writing. This is my first year in NYCAASC, and I'm excited to work with everyone and meet new people with similar interests! Aside from school/extracurriculars, I love to explore the city, try new foods, and listen to music :)."
     </p>
   </div>

   <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <img src="assets/img/e-board/bonnie.jpg">
    <h3>Bonnie Chen</h3>
    <h4>Workshops Chair</h4>
    <h5>Brandeis University</h5>
    <p>"I’m passionate about understanding historical concepts and relationships within history to tackle the current issues faced by the AAPI community. This is my first year at NYCAASC; I’m excited to be working with everyone and getting to know so many amazing people! Outside of NYCAASC, I love binge watching Korean dramas, reading a good novel, taking naps, and eating delicious food."
    </p>
   </div>


   <div class="col-12 mb-4">
     <h1 class="text-danger">2020 AHM Board</h1>
   </div>

   <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <img src="assets/img/e-board/dara.jpg">
    <h3>Dara Yen</h3>
    <h4>AHM Co-President</h4>
    <h5>New York University</h5>
   </div>

   <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
   <img src="assets/img/e-board/jinny.jpg">
   <h3>Jinny Hwang</h3>
   <h4>AHM Co-President</h4>
   <h5>New York University</h5>
   </div>

   <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <img src="assets/img/e-board/gina.jpg">
    <h3>Jina Shi</h3>
    <h4>AHM Treasurer</h4>
    <h5>New York University</h5>
   </div>
      </div>
    </div>
  </section>

    <!-- Footer -->
    <footer class=" pt-4 bg-light">
        <div class="container text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mr-4">
              <img src="assets/img/logos/logoOnlyCropped.png" style="height:30px;" class=" mt-3 mb-2">
              <p>
                The <b>New York Asian American Student Conference</b> (NYCAASC) is a student-run, intercollegiate organization dedicated to bringing together students from all around New York City to learn about social issues regarding the Asian/Pacific Islander American community.
              </p>
            </div>
            <div class="col-md-5 mx-auto">
              <h5 class="font-weight-bold mt-3 mb-4">Keep in touch!</h5>
                <a class="" href="https://www.facebook.com/nycaasc" target="_blank">
                  <i class="fab fa-facebook-f faa-wrench animated-hover"> </i>
                </a>
                <a class="" href="https://twitter.com/nycaasc" target="_blank">
                  <i class="fab fa-twitter faa-wrench animated-hover"> </i>
                </a>
                <a class="" href="https://www.instagram.com/nycaasc/" target="_blank">
                  <i class="fab fa-instagram faa-wrench animated-hover"> </i>
                </a>
                <a class="" href="mailto:info@nycaasc.com" target="_blank">
                  <i class="fas fa-envelope faa-wrench animated-hover"> </i>
                </a>
            </div>
          </div>
        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="https://goo.gl/forms/pBiHPpjtt1hw0WeA2" class="btn btn-danger btn-rounded" target="_blank">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <div class="footer-copyright text-center py-3">© 2020 Copyright: NYCAASC
        </div>

    </footer>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
