html {
  scroll-behavior: smooth;
}

nav{
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

/*----------HOME PAGE START ----------*/

#con2020{
    /* min-height: calc(100vh); */
    background: rgb(255,0,0);
    background: linear-gradient(169deg, rgba(255,255,255,.2) 0%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.2) 100%);
    /* background-image: url("assets/img/logos/collisionTrans.png"); */
}


@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#emergenceGroup {
  background-image: url("../img/new_photo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new_id{
  color:red;
}
#con2020 img{
    float: right;
    max-width: 100%;
    margin-right: auto;
}
/*----------HOME PAGE END ----------*/
/*----------
#con2020 img{
    top:20%;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: auto;
    margin-right: auto;
    &__image {
      display: inline-block;
      vertical-align: top;
      width: 46%;
    }
    &__text {
      display: inline-block;
      width: 46%;
      @media (max-width: 620px) {
        width: 100%;
      }
    }
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
----------*/
/*----------ABOUT PAGE START ----------*/

#eboard img{
    width: 200px;
    border-radius: 5px;
    padding-bottom: 10px;
}

#eboard h3{
    margin-bottom: 5px;
}

#eboard h4{
    font-size: 20px;
    font-weight: normal;
}

#about-header-image {
  min-height: 540px;
}

#about-header-image .jumbotron {
  max-width: 720px;
}

.transluscent-bg{
    background-color: black;
    opacity: .85;
    border-radius: 10px;
}

#sponsors img{
  max-width: 100%;
  margin-bottom: 2rem;
}


/*----------ABOUT PAGE END ----------*/

/*---------CONFERENCE PAGE START ------*/

/* x-small screens */
@media (max-width: 575.98px) {
  #heading-spacer {
    min-height: 12rem;
  }
 }

/* small screens */
@media (min-width: 576px) and (max-width: 767.98px) {
  #heading-spacer {
    min-height: 20rem;
  }
 }

/* medium screens */
@media (min-width: 768px) and (max-width: 991.98px) {
  #heading-spacer {
    min-height: 20rem;
  }
 }

/* large screens */
@media (min-width: 992px) {
  #heading-spacer {
    min-height: 12rem;
  }
 }

#workshops1 button{
  margin-bottom: 1rem;
  border-color: hsl(0, 0%, 50%);
  font-weight: bold;
  white-space: normal !important;
  word-wrap: break-word;
  padding: 1rem;
}

#workshops1 .card-body{
    /* margin-bottom: -0px; */
    margin-bottom: 1rem;
}

#schedule {
  font-size: 14px;
}

.time, .location, .event {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px hsl(0, 0%, 85%) solid;
}

.event {
  padding: 0;
  /* border-radius: 4px; */
  font-size: 15px;
}.event:hover {
  background-color: hsl(208, 54%, 90%);
}

.sched-link {
  display: block;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 15px;
  color: black;
}.sched-link:hover {
  color: inherit;
}


/*---------CONFERENCE PAGE end ------*/


/*----------HLS PAGE START ----------*/

#header-background {
  background-image: linear-gradient(to right, rgba(223, 100, 100, 1) 40%, rgba(255, 255, 255, 0.5)), url("../img/hslBoard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.hsl-portfolio-caption {
  padding: 20px;
  background-color: rgba(223, 100, 100, 0.1);
}



/*----------HSL PAGE END ----------*/

/*----------RESOURCES PAGE END ----------*/

#resources h3{
    margin-top: 15px;
}

#resources p{
    font-size: 1.2em;
}

#resources .col-12{
    max-width: 800px;
}

/*----------RESOURCES PAGE END ----------*/



/*----------FOOTER PAGE START ----------*/

footer i{
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 25px;
    color: black;
}

/*----------FOOTER PAGE END ----------*/
